In [1]:
import pandas as pd
import numpy as np
import datetime

data = pd.read_excel('last.xlsx', sheet_name='ГРП')
dummy = pd.read_excel('last.xlsx', sheet_name='МЭР')
data

,Скважина №,"Длиина ГС, м",Число стадий ГРП,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д",Дата ВНР после ГС \\ ГРП \\ЗБГС,ГС/ННС,Тип ГТМ,Пласт,Скважина № (скорректированная)
0,1028,61.648646,6,100,4,100,2019-04-05,ГС+ГРП,ГРП,Ю1,1028_ГРП
1,1060,614.642172,0,100,4,100,2017-05-08,ГС,ВНС,Ю1,1060
2,1060,614.642172,7,100,4,100,2017-05-17,ГС+ГРП,ГРП,Ю1,1060_ГРП
3,1138,0.000000,1,100,4,100,2001-12-30,ННС+ГРП,ГРП,Ю1,1138_ГРП
4,1138,0.000000,1,100,4,100,2006-05-02,ННС+ГРП,ГРП,Ю1,1138_ГРП
...,...,...,...,...,...,...,...,...,...,...,...
199,5358,651.659420,0,100,4,100,2015-06-10,ГС,ВНС,Ю1,5358
200,5358,651.659420,6,100,4,100,2015-06-20,ГС+ГРП,ГРП,Ю1,5358_ГРП
201,822,478.806850,0,100,4,100,2014-03-14,ГС,ВНС,Ю1,822
202,824,636.387461,0,100,4,100,2015-03-18,ГС,ВНС,Ю1,824
203,824,636.387461,6,100,4,100,2015-03-31,ГС+ГРП,ГРП,Ю1,824_ГРП

In [2]:
date_column_name = r'Дата ВНР после ГС \\ ГРП \\ЗБГС'
target = 'Скважина №'

In [3]:
#составляю список скважин с историей большей или равной 6 месяцев
dummy1 = dummy.groupby(target).agg(
    {'Дата': lambda x: 
     x.tolist()}
)
dummy1['История'] = dummy1.apply(
    lambda x: 
    1 if len(x['Дата'])>=6
    else 0, axis=1)
dummy1 = dummy1.drop(dummy1[dummy1['История'] != 1].index)
dummy1.reset_index(inplace=True)
a=dummy1['Скважина №'].tolist()
a

[101,
 235,
 254,
 258,
 267,
 299,
 340,
 347,
 353,
 367,
 407,
 436,
 439,
 441,
 442,
 459,
 471,
 474,
 501,
 1003,
 1013,
 1022,
 1028,
 1045,
 1047,
 1049,
 1055,
 1056,
 1060,
 1061,
 1084,
 1086,
 1089,
 1090,
 1091,
 1099,
 1102,
 1105,
 1106,
 1107,
 1108,
 1110,
 1113,
 1114,
 1115,
 1116,
 1118,
 1119,
 1130,
 1131,
 1132,
 1133,
 1135,
 1136,
 1137,
 1138,
 1139,
 1140,
 1142,
 1143,
 1145,
 1146,
 1147,
 1148,
 1150,
 1151,
 1152,
 1155,
 1157,
 1158,
 1159,
 1160,
 1161,
 1162,
 1163,
 1164,
 1165,
 1166,
 1167,
 1169,
 1170,
 1171,
 1172,
 1180,
 1181,
 1182,
 1183,
 1184,
 1185,
 1189,
 1190,
 1191,
 1193,
 1194,
 1195,
 1196,
 1197,
 1198,
 1199,
 1200,
 1202,
 1204,
 1205,
 1210,
 1211,
 1212,
 1214,
 1217,
 1218,
 1219,
 1221,
 1226,
 1230,
 1231,
 1236,
 1237,
 1239,
 1240,
 1243,
 1245,
 1246,
 1247,
 1248,
 1249,
 1252,
 1253,
 1254,
 1255,
 1256,
 1257,
 1258,
 1261,
 1263,
 1264,
 1267,
 1268,
 1269,
 1270,
 1271,
 1275,
 1276,
 1277,
 1278,
 1279,
 1280,
 1281,
 1283,
 1284,
 1285,
 1287,
 1288,
 1289,
 1290,
 1292,
 1293,
 1294,
 1296,
 1299,
 1302,
 1304,
 1308,
 1310,
 1313,
 1314,
 1316,
 1317,
 1319,
 1320,
 1334,
 1335,
 1336,
 1337,
 1338,
 1342,
 1354,
 1356,
 1357,
 1358,
 1416,
 1417,
 1424,
 1452,
 1464,
 1480,
 1483,
 1484,
 1485,
 1486,
 1488,
 1497,
 1506,
 1550,
 1552,
 1554,
 1555,
 1568,
 1670,
 1790,
 1796,
 1970,
 1971,
 1974,
 1976,
 1977,
 1978,
 1979,
 2012,
 2130,
 2131,
 2133,
 2134,
 2136,
 2212,
 2214,
 2218,
 2220,
 2222,
 2296,
 2715,
 2774,
 3505,
 3511,
 3544,
 3555,
 3561,
 3562,
 3563,
 3564,
 3565,
 3566,
 3567,
 3568,
 3569,
 3575,
 3782,
 3784,
 3786,
 3787,
 3788,
 3794,
 3920,
 3938,
 4021,
 4346,
 4732,
 4768,
 5003,
 5004,
 5102,
 5104,
 5105,
 5108,
 5109,
 5112,
 5113,
 5114,
 5116,
 5117,
 5130,
 5132,
 5161,
 5162,
 5163,
 5165,
 5166,
 5167,
 5169,
 5171,
 5172,
 5173,
 5176,
 5182,
 5183,
 5193,
 5198,
 5202,
 5204,
 5208,
 5209,
 5211,
 5213,
 5214,
 5216,
 5217,
 5218,
 5219,
 5220,
 5221,
 5226,
 5232,
 5233,
 5234,
 5235,
 5240,
 5245,
 5246,
 5247,
 '1022Л',
 '1036Л',
 '1090Л',
 '1092Л',
 '1106Л',
 '1107Л',
 '1114Л',
 '1153Л',
 '1159Л',
 '1163Л',
 '1168Л',
 '1172Л',
 '1180Л',
 '1180Л2',
 '1181Б',
 '1182Л',
 '1183Л',
 '1184Л',
 '1185Л',
 '1186Л',
 '1187Л',
 '1188Л',
 '1189Л',
 '1192Л',
 '1201Л',
 '1209Л',
 '1218Л',
 '1219Л',
 '1229Л',
 '1232Л',
 '1234Л',
 '1235Л',
 '1238Л',
 '1241Л',
 '1242Л',
 '1250Л',
 '1251Л',
 '1257Л',
 '1260Л',
 '1262Л',
 '1274Л',
 '1303Р',
 '1304Л2',
 '1308Л',
 '1308Р',
 '1309Б',
 '1309Р',
 '132Р',
 '1331Р',
 '1340Р_Л',
 '1978Л2',
 '258Л',
 '32Р',
 '3417Л',
 '3429Л',
 '3567Л',
 '3577Л',
 '3789Л',
 '3791Л',
 '3800Л',
 '3847Л',
 '444Л',
 '471Л',
 '5002Л',
 '5104Л',
 '5106Л',
 '5114Б',
 '5181Л',
 '5186Л',
 '5202Л',
 '5214Л',
 '5223Л',
 '5224Б']

In [4]:
#удаляю те, которых нет в полученном списке
dummy=dummy[dummy['Скважина №'].isin(a)]
dummy

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт
0,1974-11-01,1003,139.51,116.35,0.00,NaN,NaN,Ю1
1,1974-12-01,1003,39.06,32.58,0.00,NaN,NaN,Ю1
2,1975-01-01,1003,27.90,23.27,0.00,NaN,NaN,Ю1
3,1975-02-01,1003,27.86,23.24,0.00,NaN,NaN,Ю1
4,1975-03-01,1003,20.93,17.45,0.00,NaN,NaN,Ю1
...,...,...,...,...,...,...,...,...
59439,2005-09-01,5247,1.99,0.23,85.91,216.0,176.1,Ю1
59440,2005-10-01,5247,5.70,0.58,87.73,216.0,126.2,Ю1
59441,2005-11-01,5247,7.76,1.00,84.55,216.0,100.6,Ю1
59442,2005-12-01,5247,5.65,0.71,84.93,216.0,99.2,Ю1
59443,2006-01-01,5247,5.81,0.80,83.50,216.0,99.2,Ю1

In [5]:
data['для_грп'] = data.apply(
                lambda x:
                x['Скважина №'].partition('_')[0] if '_' in str(x['Скважина №'])
                else x['Скважина №'], axis=1)
data

,Скважина №,"Длиина ГС, м",Число стадий ГРП,"Полудлина трещины, м","Ширина трещины, мм","Проницаемость проппанта, Д",Дата ВНР после ГС \\ ГРП \\ЗБГС,ГС/ННС,Тип ГТМ,Пласт,Скважина № (скорректированная),для_грп
0,1028,61.648646,6,100,4,100,2019-04-05,ГС+ГРП,ГРП,Ю1,1028_ГРП,1028
1,1060,614.642172,0,100,4,100,2017-05-08,ГС,ВНС,Ю1,1060,1060
2,1060,614.642172,7,100,4,100,2017-05-17,ГС+ГРП,ГРП,Ю1,1060_ГРП,1060
3,1138,0.000000,1,100,4,100,2001-12-30,ННС+ГРП,ГРП,Ю1,1138_ГРП,1138
4,1138,0.000000,1,100,4,100,2006-05-02,ННС+ГРП,ГРП,Ю1,1138_ГРП,1138
...,...,...,...,...,...,...,...,...,...,...,...,...
199,5358,651.659420,0,100,4,100,2015-06-10,ГС,ВНС,Ю1,5358,5358
200,5358,651.659420,6,100,4,100,2015-06-20,ГС+ГРП,ГРП,Ю1,5358_ГРП,5358
201,822,478.806850,0,100,4,100,2014-03-14,ГС,ВНС,Ю1,822,822
202,824,636.387461,0,100,4,100,2015-03-18,ГС,ВНС,Ю1,824,824
203,824,636.387461,6,100,4,100,2015-03-31,ГС+ГРП,ГРП,Ю1,824_ГРП,824

In [6]:
#провекрка скважин на которых нет грп
no_grp= data.groupby('для_грп').agg(
    {'ГС/ННС': lambda x: 
     x.tolist()}
)
no_grp.reset_index(inplace=True)
no_grp['ГРП?'] = no_grp.apply(
    lambda x: 
    0 if 'ГРП' not in str(x['ГС/ННС'])
    else 1, axis=1)
no_grp = no_grp.drop(no_grp[no_grp['ГРП?'] == 1].index)
spisok = no_grp['для_грп'].tolist()
spisok
#" ".join(my_list)

[822, 1552]

In [7]:

step = data.groupby('для_грп').agg(
    {date_column_name: lambda x: 
     x.tolist()[0] 
     if len(x.tolist()) == 1 else x.tolist()[1]}
)
step.reset_index(inplace=True)
step=step[~step['для_грп'].isin(spisok)].reset_index(drop=True)
step

    для_грп Дата ВНР после ГС \\ ГРП \\ЗБГС
0       235                      2019-07-04
1       407                      2019-05-26
2       824                      2015-03-31
3      1028                      2019-04-05
4      1060                      2017-05-17
..      ...                             ...
72     5226                      1996-03-11
73     5235                      2006-07-04
74     5289                      2013-05-16
75     5316                      2005-01-22
76     5358                      2015-06-20

[77 rows x 2 columns]

In [8]:
vvv = step['для_грп'].tolist()

step['Скважина №'] = vvv
step = step.drop(['для_грп'], axis=1)
dummy = dummy.merge(step, on=target)

In [9]:
dummy.head(10)

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт,Дата ВНР после ГС \\ ГРП \\ЗБГС
0,2019-05-01,1028,50.26,6.73,83.95,0.0,112.9,Ю1,2019-04-05
1,2019-06-01,1028,33.81,3.99,85.84,0.0,59.1,Ю1,2019-04-05
2,2019-07-01,1028,43.14,5.13,85.75,0.0,112.5,Ю1,2019-04-05
3,2019-08-01,1028,38.17,2.21,93.07,0.0,115.1,Ю1,2019-04-05
4,2019-09-01,1028,20.27,1.14,93.24,0.0,115.0,Ю1,2019-04-05
5,2019-10-01,1028,20.66,1.10,93.60,195.0,118.9,Ю1,2019-04-05
6,2019-11-01,1028,29.49,1.61,93.45,195.0,101.3,Ю1,2019-04-05
7,2019-12-01,1028,29.43,1.64,93.32,195.0,77.0,Ю1,2019-04-05
8,2020-01-01,1028,29.21,1.57,93.58,156.0,79.7,Ю1,2019-04-05
9,2020-02-01,1028,27.32,1.50,93.43,156.0,85.8,Ю1,2019-04-05

In [10]:
dummy[target] = dummy.apply(
    lambda x: 
    str(x[target])
    + ('_ГРП' if x['Дата'] > x[date_column_name] else ''),
    axis=1
)
dummy = dummy.drop(date_column_name, axis=1)

In [11]:
dummy.head(10)

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт
0,2019-05-01,1028_ГРП,50.26,6.73,83.95,0.0,112.9,Ю1
1,2019-06-01,1028_ГРП,33.81,3.99,85.84,0.0,59.1,Ю1
2,2019-07-01,1028_ГРП,43.14,5.13,85.75,0.0,112.5,Ю1
3,2019-08-01,1028_ГРП,38.17,2.21,93.07,0.0,115.1,Ю1
4,2019-09-01,1028_ГРП,20.27,1.14,93.24,0.0,115.0,Ю1
5,2019-10-01,1028_ГРП,20.66,1.10,93.60,195.0,118.9,Ю1
6,2019-11-01,1028_ГРП,29.49,1.61,93.45,195.0,101.3,Ю1
7,2019-12-01,1028_ГРП,29.43,1.64,93.32,195.0,77.0,Ю1
8,2020-01-01,1028_ГРП,29.21,1.57,93.58,156.0,79.7,Ю1
9,2020-02-01,1028_ГРП,27.32,1.50,93.43,156.0,85.8,Ю1

In [12]:
#удаляем стоки с нулевым дебитом нефти
dummy = dummy.drop(dummy[dummy['Дебит нефти, т/сут'] == 0].index)
dummy

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт
0,2019-05-01,1028_ГРП,50.26,6.73,83.95,0.0,112.9,Ю1
1,2019-06-01,1028_ГРП,33.81,3.99,85.84,0.0,59.1,Ю1
2,2019-07-01,1028_ГРП,43.14,5.13,85.75,0.0,112.5,Ю1
3,2019-08-01,1028_ГРП,38.17,2.21,93.07,0.0,115.1,Ю1
4,2019-09-01,1028_ГРП,20.27,1.14,93.24,0.0,115.0,Ю1
...,...,...,...,...,...,...,...,...
8824,2018-01-01,5235_ГРП,13.67,0.97,91.49,239.0,0.0,Ю1
8825,2018-02-01,5235_ГРП,11.11,1.20,87.01,239.0,0.0,Ю1
8826,2018-03-01,5235_ГРП,11.69,1.28,86.92,239.0,0.0,Ю1
8827,2018-04-01,5235_ГРП,10.25,0.83,90.30,239.0,0.0,Ю1
8828,2018-05-01,5235_ГРП,9.92,0.77,90.66,239.0,0.0,Ю1

In [13]:
#если нулевое пластовое давление, то беру предыдущее значение
dummy['Предыдущее пластовое давление']=dummy['Пластовое давление (ТР), атм'].shift(-1)

dummy['Пластовое давление (ТР), атм'],dummy['Предыдущее пластовое давление']=np.where(dummy['Пластовое давление (ТР), атм']==0,(dummy['Предыдущее пластовое давление'],dummy['Пластовое давление (ТР), атм']),(dummy['Пластовое давление (ТР), атм'],dummy['Предыдущее пластовое давление']))
dummy = dummy.drop('Предыдущее пластовое давление', axis=1)
dummy

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт
0,2019-05-01,1028_ГРП,50.26,6.73,83.95,0.0,112.9,Ю1
1,2019-06-01,1028_ГРП,33.81,3.99,85.84,0.0,59.1,Ю1
2,2019-07-01,1028_ГРП,43.14,5.13,85.75,0.0,112.5,Ю1
3,2019-08-01,1028_ГРП,38.17,2.21,93.07,0.0,115.1,Ю1
4,2019-09-01,1028_ГРП,20.27,1.14,93.24,195.0,115.0,Ю1
...,...,...,...,...,...,...,...,...
8824,2018-01-01,5235_ГРП,13.67,0.97,91.49,239.0,0.0,Ю1
8825,2018-02-01,5235_ГРП,11.11,1.20,87.01,239.0,0.0,Ю1
8826,2018-03-01,5235_ГРП,11.69,1.28,86.92,239.0,0.0,Ю1
8827,2018-04-01,5235_ГРП,10.25,0.83,90.30,239.0,0.0,Ю1
8828,2018-05-01,5235_ГРП,9.92,0.77,90.66,239.0,0.0,Ю1

In [14]:
dummy_2 = dummy.drop(dummy[dummy['Пластовое давление (ТР), атм'] != 0].index)
#dummy_2 = dummy_2.drop(dummy_2[dummy_2['Забойное давление (ТР), атм'] != 0].index)
#dummy_2= dummy_2.groupby('Скважина №').agg(
#    {'Пластовое давление (ТР), атм': lambda x: 
#     x.tolist()}
dummy_2

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт
0,2019-05-01,1028_ГРП,50.26,6.73,83.95,0.0,112.9,Ю1
1,2019-06-01,1028_ГРП,33.81,3.99,85.84,0.0,59.1,Ю1
2,2019-07-01,1028_ГРП,43.14,5.13,85.75,0.0,112.5,Ю1
3,2019-08-01,1028_ГРП,38.17,2.21,93.07,0.0,115.1,Ю1
210,1990-02-01,1138,19.84,16.00,3.31,0.0,0.0,Ю1
...,...,...,...,...,...,...,...,...
8747,2000-02-01,5235,10.61,8.00,9.60,0.0,165.1,Ю1
8748,2000-03-01,5235,8.89,6.65,10.36,0.0,177.0,Ю1
8749,2000-04-01,5235,8.87,6.63,10.35,0.0,177.0,Ю1
8750,2000-05-01,5235,5.58,4.26,8.53,0.0,174.0,Ю1
8751,2000-06-01,5235,4.90,3.87,5.36,0.0,173.6,Ю1

In [15]:
dummy_2 = dummy_2.drop(dummy_2[dummy_2['Забойное давление (ТР), атм'] != 0].index)
dummy_2

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт
210,1990-02-01,1138,19.84,16.00,3.31,0.0,0.0,Ю1
211,1990-03-01,1138,8.03,6.48,3.16,0.0,0.0,Ю1
212,1990-04-01,1138,7.78,6.27,3.38,0.0,0.0,Ю1
213,1990-05-01,1138,5.39,4.33,3.65,0.0,0.0,Ю1
214,1990-06-01,1138,4.95,4.00,3.06,0.0,0.0,Ю1
...,...,...,...,...,...,...,...,...
8656,1996-06-01,5226_ГРП,4.72,3.31,16.03,0.0,0.0,Ю1
8657,1996-07-01,5226_ГРП,4.84,3.48,13.76,0.0,0.0,Ю1
8658,1996-08-01,5226_ГРП,5.70,4.23,11.14,0.0,0.0,Ю1
8659,1996-09-01,5226_ГРП,4.54,2.20,41.91,0.0,0.0,Ю1
8660,1996-10-01,5226_ГРП,4.71,2.29,41.75,0.0,0.0,Ю1

In [16]:
dummy_2.to_excel('gg.xlsx')

In [17]:
dummy.to_excel('tyle3333.xlsx')