In [1]:
import pandas as pd
import datetime

data = pd.read_excel('TYLE.xlsx', sheet_name='ГРП')
dummy = pd.read_excel('TYLE.xlsx', sheet_name='МЭР')

In [2]:
date_column_name = r'Дата ВНР после ГС \\ ГРП \\ЗБГС'
target = 'Скважина №'

In [3]:
#составляю список скважин с историей большей или равной 6 месяцев
dummy1 = dummy.groupby(target).agg(
    {'Дата': lambda x: 
     x.tolist()}
)
dummy1['История'] = dummy1.apply(
    lambda x: 
    1 if len(x['Дата'])>=6
    else 0, axis=1)
dummy1 = dummy1.drop(dummy1[dummy1['История'] != 1].index)
dummy1.reset_index(inplace=True)
a=dummy1['Скважина №'].tolist()
a

[1, 3, 4, 5, 6]

In [4]:
#удаляю те, которых нет в полученном списке
dummy=dummy[dummy['Скважина №'].isin(a)]
dummy

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Объекты работы
0,2016-07-01,1,78.60,55.39,22.13,263.0,131.1,Ю3
1,2016-08-01,1,84.36,59.86,21.52,263.0,118.3,Ю3
2,2016-09-01,1,85.34,68.98,9.13,263.0,107.1,Ю3
3,2016-10-01,1,88.41,71.09,9.67,263.0,94.8,Ю3
4,2016-11-01,1,79.03,62.62,11.16,263.0,79.4,Ю3
...,...,...,...,...,...,...,...,...
260,2021-02-01,6,109.78,16.09,85.16,189.0,121.1,Ю3
261,2021-03-01,6,100.75,14.75,85.18,189.0,121.1,Ю3
262,2021-04-01,6,93.25,14.92,83.78,193.0,118.0,Ю3
263,2021-05-01,6,92.15,14.09,84.51,193.0,116.0,Ю3
264,2021-06-01,6,94.85,19.69,78.79,193.0,114.6,Ю3

In [5]:
step = data.groupby(target).agg(
    {date_column_name: lambda x: 
     x.tolist()[0] 
     if len(x.tolist()) == 1 else x.tolist()[1]}
)
step

           Дата ВНР после ГС \\ ГРП \\ЗБГС
Скважина №
1                               2016-08-21
3                               2011-09-06
4                               2007-08-24
5                               2018-05-01
6                               2011-08-06
7                               2016-01-17
8                               2015-03-13
9                               2008-02-09
10                              2013-02-16
11                              2009-09-17
12                              2008-06-26
13                              2008-08-03
14                              2014-10-01
15                              2007-12-01
16                              2007-08-15
17                              2008-02-25

In [6]:
dums = dummy.merge(step, on=target)

In [7]:
dums.head(10)

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Объекты работы,Дата ВНР после ГС \\ ГРП \\ЗБГС
0,2016-07-01,1,78.60,55.39,22.13,263.0,131.1,Ю3,2016-08-21
1,2016-08-01,1,84.36,59.86,21.52,263.0,118.3,Ю3,2016-08-21
2,2016-09-01,1,85.34,68.98,9.13,263.0,107.1,Ю3,2016-08-21
3,2016-10-01,1,88.41,71.09,9.67,263.0,94.8,Ю3,2016-08-21
4,2016-11-01,1,79.03,62.62,11.16,263.0,79.4,Ю3,2016-08-21
5,2016-12-01,1,68.39,53.63,12.20,263.0,69.8,Ю3,2016-08-21
6,2017-01-01,1,57.06,42.88,16.31,236.0,83.5,Ю3,2016-08-21
7,2011-07-01,3,150.48,125.65,5.71,203.0,120.5,Ю3,2011-09-06
8,2011-08-01,3,151.53,126.52,5.72,203.0,104.2,Ю3,2011-09-06
9,2011-09-01,3,157.68,133.03,4.59,203.0,103.0,Ю3,2011-09-06

In [8]:
dums[target] = dums.apply(
    lambda x: 
    str(x[target])
    + ('_ГРП' if x['Дата'] > x[date_column_name] else ''),
    axis=1
)
sheet_2 = dums.drop(date_column_name, axis=1)

In [9]:
sheet_2.head(10)

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Объекты работы
0,2016-07-01,1,78.60,55.39,22.13,263.0,131.1,Ю3
1,2016-08-01,1,84.36,59.86,21.52,263.0,118.3,Ю3
2,2016-09-01,1_ГРП,85.34,68.98,9.13,263.0,107.1,Ю3
3,2016-10-01,1_ГРП,88.41,71.09,9.67,263.0,94.8,Ю3
4,2016-11-01,1_ГРП,79.03,62.62,11.16,263.0,79.4,Ю3
5,2016-12-01,1_ГРП,68.39,53.63,12.20,263.0,69.8,Ю3
6,2017-01-01,1_ГРП,57.06,42.88,16.31,236.0,83.5,Ю3
7,2011-07-01,3,150.48,125.65,5.71,203.0,120.5,Ю3
8,2011-08-01,3,151.53,126.52,5.72,203.0,104.2,Ю3
9,2011-09-01,3,157.68,133.03,4.59,203.0,103.0,Ю3

In [10]:
#удаляем стоки с нулевым дебитом нефти
sheet_2 = sheet_2.drop(sheet_2[sheet_2['Дебит нефти, т/сут'] == 0].index)
sheet_2

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Объекты работы
0,2016-07-01,1,78.60,55.39,22.13,263.0,131.1,Ю3
1,2016-08-01,1,84.36,59.86,21.52,263.0,118.3,Ю3
2,2016-09-01,1_ГРП,85.34,68.98,9.13,263.0,107.1,Ю3
3,2016-10-01,1_ГРП,88.41,71.09,9.67,263.0,94.8,Ю3
4,2016-11-01,1_ГРП,79.03,62.62,11.16,263.0,79.4,Ю3
...,...,...,...,...,...,...,...,...
260,2021-02-01,6_ГРП,109.78,16.09,85.16,189.0,121.1,Ю3
261,2021-03-01,6_ГРП,100.75,14.75,85.18,189.0,121.1,Ю3
262,2021-04-01,6_ГРП,93.25,14.92,83.78,193.0,118.0,Ю3
263,2021-05-01,6_ГРП,92.15,14.09,84.51,193.0,116.0,Ю3
264,2021-06-01,6_ГРП,94.85,19.69,78.79,193.0,114.6,Ю3

In [18]:
#если нулевое пластовое давление, то беру предыдущее значение
sheet_2['Пластовое давление (ТР), атм'] = sheet_2.apply(
    lambda x: 
    sheet_2['Пластовое давление (ТР), атм'].shift() if x['Пластовое давление (ТР), атм']==0 else x['Пластовое давление (ТР), атм'],
    axis=1
)

sheet_2

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Объекты работы,Для нулевых
0,2016-07-01,1,78.60,55.39,22.13,263.0,131.1,Ю3,NaN
1,2016-08-01,1,84.36,59.86,21.52,263.0,118.3,Ю3,263.0
2,2016-09-01,1_ГРП,85.34,68.98,9.13,263.0,107.1,Ю3,263.0
3,2016-10-01,1_ГРП,88.41,71.09,9.67,263.0,94.8,Ю3,263.0
4,2016-11-01,1_ГРП,79.03,62.62,11.16,263.0,79.4,Ю3,263.0
...,...,...,...,...,...,...,...,...,...
260,2021-02-01,6_ГРП,109.78,16.09,85.16,189.0,121.1,Ю3,189.0
261,2021-03-01,6_ГРП,100.75,14.75,85.18,189.0,121.1,Ю3,189.0
262,2021-04-01,6_ГРП,93.25,14.92,83.78,193.0,118.0,Ю3,189.0
263,2021-05-01,6_ГРП,92.15,14.09,84.51,193.0,116.0,Ю3,193.0
264,2021-06-01,6_ГРП,94.85,19.69,78.79,193.0,114.6,Ю3,193.0

In [11]:
sheet_2.to_excel('tyle3333.xlsx')