In [1]:
import pandas as pd
import numpy as np
import datetime

data = pd.read_excel('TYLE.xlsx', sheet_name='ГРП')
dummy = pd.read_excel('TYLE.xlsx', sheet_name='МЭР')
dummy.tail()

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт
302,2019-04-01,11,123.0,12313.0,123123.0,0.0,0.0,Ю3
303,2019-05-01,11,13.0,123.0,123123.0,0.0,0.0,Ю3
304,2020-01-01,11,123123.0,13.0,123123.0,0.0,0.0,Ю3
305,2021-01-01,11,2131.0,0.0,12331.0,123.0,1231.0,Ю3
306,2021-02-01,11,33131.0,123.0,33.0,123.0,123.0,Ю3

In [2]:
dummy['Index'] = dummy.index
dummy1 = dummy.drop(dummy[dummy['Пластовое давление (ТР), атм'] != 0].index)
dummy1 = dummy1.drop(dummy1[dummy1['Забойное давление (ТР), атм'] != 0].index)
#wells_both_zero
#dummy1=dummy1.groupby(by=['Скважина №']).mean()
#dummy = dummy.groupby('Скважина №').agg(
 #   {'Пластовое давление (ТР), атм': lambda x: 
  #   x.tolist()}
#dummy1.reset_index(inplace=True)
#minus_wells=dummy1['Скважина №'].tolist()
#minus_wells
dummy1=dummy1.groupby('Скважина №')
wells_del_both=dummy1['Index'].tolist()

dummy1

AttributeError: 'SeriesGroupBy' object has no attribute 'tolist'

In [ ]:
dummy=dummy[~dummy['Index'].isin(wells_del_both)].reset_index(drop=True)
dummy