In [1]:
import pandas as pd
import numpy as np
import datetime

data = pd.read_excel('last.xlsx', sheet_name='ГРП')
dummy = pd.read_excel('last.xlsx', sheet_name='МЭР')
dummy

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт
0,1974-11-01,1003,139.51,116.35,0.00,NaN,NaN,Ю1
1,1974-12-01,1003,39.06,32.58,0.00,NaN,NaN,Ю1
2,1975-01-01,1003,27.90,23.27,0.00,NaN,NaN,Ю1
3,1975-02-01,1003,27.86,23.24,0.00,NaN,NaN,Ю1
4,1975-03-01,1003,20.93,17.45,0.00,NaN,NaN,Ю1
...,...,...,...,...,...,...,...,...
59439,2005-09-01,5247,1.99,0.23,85.91,216.0,176.1,Ю1
59440,2005-10-01,5247,5.70,0.58,87.73,216.0,126.2,Ю1
59441,2005-11-01,5247,7.76,1.00,84.55,216.0,100.6,Ю1
59442,2005-12-01,5247,5.65,0.71,84.93,216.0,99.2,Ю1
59443,2006-01-01,5247,5.81,0.80,83.50,216.0,99.2,Ю1

In [2]:
dummy['Index'] = dummy.index
dummy1 = dummy.drop(dummy[dummy['Забойное давление (ТР), атм'] != 0].index)
dummy1 = dummy1.drop(dummy1[dummy1['Пластовое давление (ТР), атм'] != 0].index)

dummy1

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт,Index
239,1994-10-01,1003,1.30,1.02,5.73,0.0,0.0,Ю1,239
242,1995-01-01,1003,0.00,0.00,NaN,0.0,0.0,Ю1,242
243,1995-02-01,1003,0.00,0.00,NaN,0.0,0.0,Ю1,243
244,1995-03-01,1003,0.00,0.00,NaN,0.0,0.0,Ю1,244
245,1995-04-01,1003,0.00,0.00,NaN,0.0,0.0,Ю1,245
...,...,...,...,...,...,...,...,...,...
58134,1996-07-01,5226,4.84,3.48,13.76,0.0,0.0,Ю1,58134
58135,1996-08-01,5226,5.70,4.23,11.14,0.0,0.0,Ю1,58135
58136,1996-09-01,5226,4.54,2.20,41.91,0.0,0.0,Ю1,58136
58137,1996-10-01,5226,4.71,2.29,41.75,0.0,0.0,Ю1,58137
58138,1996-11-01,5226,3.55,1.23,58.29,0.0,0.0,Ю1,58138

In [3]:


#wells_both_zero
#dummy1=dummy1.groupby(by=['Скважина №']).mean()
#dummy = dummy.groupby('Скважина №').agg(
 #   {'Пластовое давление (ТР), атм': lambda x: 
  #   x.tolist()}
#dummy1.reset_index(inplace=True)
#minus_wells=dummy1['Скважина №'].tolist()
#minus_wells
dummy1 = dummy1.groupby('Скважина №').agg(
    {'Index': lambda x: 
     x.tolist()})
dummy1['кол']=dummy1.apply(lambda x: len(x['Index']), axis=1)
dummy1 = dummy1.drop(dummy1[dummy1['кол'] < 3].index)
#wells_del_both=dummy1['Index'].tolist()
delete=[]
for i in dummy1['Index']:
    delete+=i

delete

[43684,
 43685,
 43686,
 43687,
 43688,
 43689,
 43690,
 43691,
 43692,
 43693,
 43694,
 43695,
 43696,
 43697,
 43698,
 43699,
 43700,
 43701,
 43702,
 43703,
 43704,
 43705,
 43706,
 43707,
 43708,
 43709,
 43710,
 43711,
 43712,
 43713,
 43714,
 43715,
 43716,
 43717,
 43718,
 43719,
 43720,
 43721,
 43722,
 43723,
 43724,
 43725,
 43726,
 43727,
 43728,
 43729,
 43730,
 43731,
 43732,
 43733,
 43734,
 43735,
 43736,
 43737,
 43738,
 43739,
 43740,
 43741,
 43742,
 43743,
 43744,
 43745,
 43746,
 43747,
 43748,
 43749,
 43750,
 43751,
 43752,
 43753,
 43754,
 43755,
 43756,
 43757,
 43758,
 43759,
 43760,
 43896,
 43897,
 43898,
 43899,
 43900,
 43901,
 43902,
 43903,
 43904,
 43905,
 43906,
 44412,
 44413,
 44414,
 44415,
 44416,
 44417,
 44418,
 44419,
 44420,
 44421,
 44422,
 44423,
 44424,
 44425,
 44426,
 44427,
 44428,
 44429,
 44430,
 44431,
 44432,
 44433,
 44434,
 44435,
 44436,
 44437,
 45087,
 45088,
 45089,
 45090,
 45091,
 45092,
 45093,
 45094,
 45095,
 45096,
 45097,
 45098,
 45099,
 45100,
 45101,
 45102,
 45103,
 45104,
 45105,
 45106,
 45107,
 45108,
 45109,
 45110,
 45111,
 45112,
 45113,
 45114,
 45115,
 45116,
 45117,
 45118,
 45119,
 45120,
 45121,
 45122,
 45123,
 45124,
 45125,
 45126,
 45127,
 45128,
 45129,
 45130,
 45131,
 45132,
 45133,
 45134,
 45135,
 45136,
 45137,
 45138,
 45139,
 45140,
 45141,
 45142,
 45143,
 45144,
 45145,
 45146,
 45147,
 45148,
 45149,
 45150,
 45151,
 45436,
 45437,
 45438,
 45439,
 45440,
 45441,
 45442,
 45443,
 45444,
 45445,
 45446,
 45447,
 45448,
 45449,
 45450,
 45451,
 45452,
 45453,
 45454,
 45455,
 45456,
 45457,
 45458,
 48920,
 48921,
 48922,
 48923,
 48924,
 48925,
 48926,
 48927,
 48928,
 48929,
 48930,
 48931,
 48932,
 48933,
 48934,
 48935,
 48936,
 48937,
 48938,
 48939,
 48940,
 48941,
 48942,
 48943,
 48944,
 48945,
 48946,
 48947,
 48948,
 48949,
 48950,
 48951,
 48952,
 48953,
 48954,
 48955,
 48956,
 48957,
 48958,
 48959,
 48960,
 48961,
 48962,
 48963,
 48964,
 48965,
 48966,
 48974,
 48975,
 48976,
 48977,
 48978,
 48979,
 48980,
 48981,
 48982,
 48983,
 48984,
 48985,
 48986,
 48987,
 48988,
 48989,
 48990,
 49213,
 49214,
 49215,
 49216,
 49217,
 49218,
 49219,
 49220,
 49221,
 49222,
 49223,
 49224,
 49225,
 49226,
 49227,
 49228,
 49229,
 49230,
 49231,
 49232,
 49233,
 49234,
 49235,
 49236,
 49237,
 49238,
 49239,
 49240,
 49241,
 49242,
 49243,
 49244,
 49245,
 49246,
 49247,
 49248,
 49249,
 49250,
 49251,
 49252,
 49253,
 49254,
 49255,
 49256,
 49257,
 49258,
 49259,
 49260,
 49261,
 49262,
 49263,
 49264,
 49265,
 49266,
 49267,
 49268,
 49269,
 49270,
 49271,
 49272,
 49273,
 49274,
 49275,
 49276,
 49277,
 49495,
 49496,
 49497,
 49498,
 49499,
 49500,
 49501,
 49502,
 49503,
 49504,
 49505,
 49506,
 49507,
 49508,
 49509,
 49510,
 49511,
 49512,
 49513,
 49514,
 49515,
 49516,
 49517,
 49518,
 49519,
 49520,
 49521,
 49522,
 49523,
 49524,
 49525,
 49526,
 49527,
 49528,
 49529,
 49530,
 49531,
 49532,
 49533,
 49534,
 49535,
 49536,
 49537,
 49538,
 49539,
 49540,
 49541,
 49542,
 49543,
 49544,
 49545,
 49546,
 49547,
 49548,
 49549,
 49550,
 49551,
 49552,
 49553,
 49554,
 49555,
 49556,
 49557,
 49558,
 49559,
 49560,
 49561,
 49562,
 49563,
 49564,
 49565,
 49566,
 49567,
 49568,
 49569,
 49570,
 49571,
 49572,
 49573,
 49574,
 49575,
 49576,
 49577,
 49794,
 49795,
 49796,
 49797,
 49798,
 49799,
 49800,
 49801,
 49802,
 49803,
 49804,
 49805,
 49806,
 49807,
 49808,
 49809,
 49814,
 49815,
 49821,
 49822,
 49823,
 49824,
 49825,
 49826,
 49827,
 49828,
 49829,
 49832,
 49833,
 49834,
 49835,
 49836,
 49837,
 49838,
 49839,
 49840,
 49841,
 49842,
 49843,
 49844,
 49845,
 49846,
 49847,
 49854,
 49855,
 49856,
 49857,
 49858,
 49859,
 49860,
 49861,
 49862,
 49863,
 49864,
 50321,
 50322,
 50323,
 50324,
 50325,
 50326,
 50327,
 50328,
 50329,
 50330,
 50331,
 50332,
 50333,
 50334,
 50335,
 50336,
 50337,
 50338,
 50339,
 50340,
 50341,
 50342,
 50343,
 50344,
 50345,
 50346,
 50347,
 50348,
 50349,
 50350,
 50351,
 50352,
 50353,
 50354,
 50355,
 50356,
 50357,
 50358,
 50359,
 50360,
 50361,
 50362,
 50363,
 50364,
 50365,
 50380,
 50381,
 50382,
 50383,
 50384,
 239,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1049,
 1050,
 1051,
 1052,
 1053,
 1054,
 1055,
 1056,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1072,
 1073,
 1074,
 1075,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1098,
 1099,
 1100,
 1101,
 1102,
 1103,
 1104,
 1105,
 1106,
 1107,
 1108,
 1109,
 1110,
 1111,
 1112,
 1113,
 1501,
 1508,
 1509,
 1510,
 1511,
 1512,
 1513,
 1514,
 1515,
 1516,
 1517,
 1518,
 1519,
 1520,
 1521,
 1522,
 1523,
 1524,
 1525,
 1526,
 1527,
 1528,
 1529,
 1530,
 1531,
 1532,
 1533,
 1534,
 1535,
 1536,
 1537,
 1538,
 1539,
 1541,
 1542,
 1543,
 1544,
 1545,
 1546,
 1547,
 1548,
 1549,
 1550,
 1551,
 1552,
 1553,
 1554,
 1555,
 1556,
 1557,
 1558,
 1559,
 1560,
 1561,
 1562,
 1563,
 1564,
 1565,
 1566,
 1567,
 1568,
 1569,
 1570,
 1571,
 1572,
 1573,
 1574,
 1575,
 1576,
 1577,
 2308,
 2309,
 2310,
 2311,
 2312,
 2313,
 2314,
 2315,
 2316,
 2317,
 2318,
 2319,
 2320,
 2321,
 2322,
 2323,
 2324,
 2325,
 2326,
 2327,
 2328,
 2329,
 2330,
 2331,
 2332,
 2333,
 2334,
 2335,
 2336,
 2337,
 2338,
 2339,
 2340,
 2341,
 2342,
 2343,
 2344,
 2345,
 2346,
 2347,
 2348,
 2349,
 2350,
 2351,
 2352,
 2353,
 2354,
 2355,
 2356,
 2357,
 2358,
 2359,
 2360,
 2368,
 2369,
 2370,
 2371,
 2372,
 2373,
 2374,
 2375,
 2376,
 2377,
 2378,
 2379,
 2380,
 2381,
 2382,
 2383,
 2384,
 2385,
 2386,
 2387,
 2388,
 2389,
 2390,
 3952,
 3953,
 3954,
 3955,
 3956,
 3957,
 3958,
 3959,
 3960,
 3961,
 3962,
 3963,
 3964,
 3965,
 3969,
 3970,
 3971,
 3972,
 3973,
 3974,
 3975,
 3976,
 3977,
 3978,
 3979,
 3980,
 3981,
 3982,
 3983,
 3984,
 3985,
 3988,
 3989,
 3990,
 3991,
 3992,
 3993,
 3994,
 3995,
 3996,
 3997,
 3998,
 3999,
 4000,
 4001,
 4002,
 4003,
 4004,
 4005,
 4006,
 4007,
 4008,
 4009,
 4010,
 4012,
 4013,
 4014,
 4015,
 4016,
 4017,
 4018,
 4019,
 4020,
 4021,
 4022,
 4023,
 4024,
 4025,
 4026,
 4027,
 4028,
 4029,
 4030,
 4031,
 4032,
 4033,
 4034,
 5283,
 5284,
 5285,
 5286,
 5287,
 5288,
 5289,
 5290,
 5291,
 5292,
 5293,
 5294,
 5295,
 5296,
 5297,
 5298,
 5299,
 5300,
 5301,
 5302,
 5303,
 5304,
 5305,
 5306,
 5307,
 5308,
 5309,
 5310,
 5311,
 5312,
 5313,
 5314,
 5315,
 5316,
 5317,
 5318,
 5319,
 5320,
 5321,
 5322,
 5323,
 5324,
 5325,
 5326,
 5327,
 5328,
 5343,
 5344,
 5345,
 5346,
 5347,
 5348,
 5349,
 5350,
 5351,
 5352,
 5353,
 5354,
 5355,
 5356,
 5357,
 5358,
 5359,
 5360,
 5361,
 5362,
 5363,
 5364,
 5365,
 5575,
 5576,
 5577,
 5578,
 5579,
 5580,
 5581,
 5582,
 5583,
 5584,
 5585,
 5586,
 5587,
 5588,
 5589,
 5590,
 5598,
 5599,
 5600,
 5601,
 5602,
 5603,
 5604,
 5605,
 5609,
 5610,
 5611,
 5612,
 5613,
 5614,
 5615,
 5616,
 5617,
 5618,
 5619,
 5620,
 5621,
 5622,
 5623,
 5624,
 5625,
 5626,
 5627,
 5628,
 5629,
 5630,
 5631,
 5632,
 5633,
 5634,
 5635,
 5636,
 5637,
 5638,
 5639,
 5640,
 5641,
 5642,
 5643,
 5644,
 5645,
 5646,
 5647,
 5648,
 5649,
 5650,
 5651,
 5652,
 5984,
 5985,
 5986,
 5987,
 5988,
 5989,
 5990,
 5991,
 5992,
 5993,
 5994,
 5995,
 5996,
 5997,
 5998,
 5999,
 6000,
 ...]

In [4]:
dummy=dummy[~dummy['Index'].isin(delete)].reset_index(drop=True)
dummy

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт,Index
0,1974-11-01,1003,139.51,116.35,0.00,NaN,NaN,Ю1,0
1,1974-12-01,1003,39.06,32.58,0.00,NaN,NaN,Ю1,1
2,1975-01-01,1003,27.90,23.27,0.00,NaN,NaN,Ю1,2
3,1975-02-01,1003,27.86,23.24,0.00,NaN,NaN,Ю1,3
4,1975-03-01,1003,20.93,17.45,0.00,NaN,NaN,Ю1,4
...,...,...,...,...,...,...,...,...,...
53901,2005-09-01,5247,1.99,0.23,85.91,216.0,176.1,Ю1,59439
53902,2005-10-01,5247,5.70,0.58,87.73,216.0,126.2,Ю1,59440
53903,2005-11-01,5247,7.76,1.00,84.55,216.0,100.6,Ю1,59441
53904,2005-12-01,5247,5.65,0.71,84.93,216.0,99.2,Ю1,59442
53905,2006-01-01,5247,5.81,0.80,83.50,216.0,99.2,Ю1,59443

In [5]:
dummy = dummy.drop(dummy[dummy['Дебит нефти, т/сут'] == 0].index)
n = 1
z = dummy['Пласт'].value_counts()[:n].index.tolist()
plast = str(z[0])
dummy = dummy.drop(dummy[dummy['Пласт'] != plast].index).reset_index(
                drop=True)
dummy

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт,Index
0,1974-11-01,1003,139.51,116.35,0.00,NaN,NaN,Ю1,0
1,1974-12-01,1003,39.06,32.58,0.00,NaN,NaN,Ю1,1
2,1975-01-01,1003,27.90,23.27,0.00,NaN,NaN,Ю1,2
3,1975-02-01,1003,27.86,23.24,0.00,NaN,NaN,Ю1,3
4,1975-03-01,1003,20.93,17.45,0.00,NaN,NaN,Ю1,4
...,...,...,...,...,...,...,...,...,...
25240,2005-09-01,5247,1.99,0.23,85.91,216.0,176.1,Ю1,59439
25241,2005-10-01,5247,5.70,0.58,87.73,216.0,126.2,Ю1,59440
25242,2005-11-01,5247,7.76,1.00,84.55,216.0,100.6,Ю1,59441
25243,2005-12-01,5247,5.65,0.71,84.93,216.0,99.2,Ю1,59442
25244,2006-01-01,5247,5.81,0.80,83.50,216.0,99.2,Ю1,59443

In [6]:
dummy2 = dummy[dummy['Забойное давление (ТР), атм'].isna()]
dummy2

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт,Index
0,1974-11-01,1003,139.51,116.35,0.00,NaN,NaN,Ю1,0
1,1974-12-01,1003,39.06,32.58,0.00,NaN,NaN,Ю1,1
2,1975-01-01,1003,27.90,23.27,0.00,NaN,NaN,Ю1,2
3,1975-02-01,1003,27.86,23.24,0.00,NaN,NaN,Ю1,3
4,1975-03-01,1003,20.93,17.45,0.00,NaN,NaN,Ю1,4
...,...,...,...,...,...,...,...,...,...
23829,2000-09-01,5218,58.89,0.37,99.25,NaN,NaN,Ю1,56755
24324,2006-06-01,5224Б,41.97,9.41,73.11,NaN,NaN,Ю1,58003
24766,2002-08-01,5234,3.80,2.97,6.28,NaN,NaN,Ю1,58630
24767,1999-02-01,5235,25.19,20.79,1.03,NaN,NaN,Ю1,58861
24872,2016-06-01,5240,29.58,2.11,91.44,NaN,NaN,Ю1,59015

In [7]:
dummy2 = dummy2.groupby('Скважина №').agg(
    {'Index': lambda x: 
     x.tolist()})
dummy2['забойки']=dummy2.apply(lambda x: len(x['Index']), axis=1)
dummy2 = dummy2.drop(dummy2[dummy2['забойки'] < 3].index)
#wells_del_both=dummy1['Index'].tolist()
delete_wellbore=[]
for i in dummy2['Index']:
    delete_wellbore+=i

delete_wellbore

[44379,
 44380,
 44381,
 44382,
 44383,
 44384,
 44385,
 44386,
 44387,
 44388,
 44389,
 44390,
 44391,
 44392,
 44393,
 44394,
 44395,
 44396,
 44397,
 44398,
 44399,
 44400,
 44401,
 44402,
 44403,
 44404,
 44411,
 45001,
 45003,
 45004,
 45005,
 45006,
 45007,
 45008,
 45009,
 45010,
 45011,
 45012,
 45013,
 45014,
 45015,
 45016,
 45017,
 45018,
 45019,
 45020,
 45021,
 45022,
 45023,
 45024,
 45025,
 45026,
 45029,
 45030,
 45031,
 45032,
 45033,
 45034,
 45035,
 45036,
 45037,
 45038,
 45039,
 45040,
 45041,
 45042,
 45043,
 45044,
 45045,
 45046,
 45047,
 45048,
 45049,
 45050,
 45051,
 45052,
 45053,
 45054,
 45055,
 45056,
 45057,
 45058,
 45059,
 45060,
 45061,
 45062,
 45063,
 45064,
 45065,
 45066,
 45067,
 45068,
 45069,
 45070,
 45071,
 45072,
 45073,
 45074,
 45075,
 45076,
 45077,
 45078,
 45079,
 45080,
 45081,
 45082,
 45083,
 45084,
 45085,
 45521,
 45536,
 45539,
 49184,
 49185,
 49186,
 49187,
 49188,
 49189,
 49190,
 49191,
 49192,
 49193,
 49194,
 49195,
 49196,
 49197,
 49198,
 49199,
 49200,
 49201,
 49202,
 49203,
 49204,
 49205,
 49206,
 49207,
 49208,
 49209,
 49210,
 49211,
 49212,
 49484,
 49485,
 49486,
 49487,
 49488,
 49489,
 49490,
 49491,
 49492,
 49493,
 49494,
 49761,
 49762,
 49763,
 49764,
 49765,
 49766,
 49767,
 49768,
 49769,
 49770,
 49771,
 49772,
 49773,
 49774,
 49775,
 49776,
 49777,
 49778,
 49779,
 49780,
 49781,
 49782,
 49783,
 49784,
 49785,
 49786,
 49787,
 49788,
 49789,
 49790,
 49791,
 49792,
 49793,
 50291,
 50292,
 50293,
 50294,
 50295,
 50296,
 50297,
 50298,
 50299,
 50300,
 50301,
 50302,
 50303,
 50304,
 50305,
 50306,
 50307,
 50308,
 50309,
 50310,
 50311,
 50312,
 50313,
 50314,
 50315,
 50316,
 50317,
 51123,
 51127,
 51128,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 839,
 842,
 843,
 844,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1485,
 1486,
 1487,
 1488,
 1489,
 1490,
 1491,
 1492,
 1493,
 1494,
 1495,
 1496,
 1497,
 1498,
 1499,
 1500,
 1878,
 1893,
 1902,
 1908,
 1956,
 2163,
 2226,
 2227,
 2228,
 2229,
 2230,
 2231,
 2232,
 2233,
 2234,
 2235,
 2236,
 2237,
 2238,
 2239,
 2240,
 2241,
 2242,
 2243,
 2244,
 2245,
 2246,
 2247,
 2248,
 2249,
 2250,
 2251,
 2252,
 2253,
 2254,
 2255,
 2256,
 2257,
 2258,
 2259,
 2260,
 2261,
 2262,
 2263,
 2264,
 2265,
 2266,
 2267,
 2268,
 2269,
 2270,
 2271,
 2272,
 2273,
 2274,
 2275,
 2276,
 2277,
 2278,
 2279,
 2280,
 2281,
 2282,
 2283,
 2284,
 2285,
 2286,
 2287,
 2288,
 2289,
 2290,
 2291,
 2292,
 2293,
 2294,
 2295,
 2296,
 2297,
 2298,
 2299,
 2300,
 2301,
 2302,
 2303,
 2304,
 2305,
 2306,
 2307,
 3819,
 3868,
 3869,
 3870,
 3871,
 3872,
 3873,
 3874,
 3875,
 3876,
 3877,
 3878,
 3879,
 3880,
 3881,
 3882,
 3883,
 3884,
 3885,
 3886,
 3887,
 3888,
 3889,
 3890,
 3891,
 3892,
 3897,
 3898,
 3899,
 3900,
 3901,
 3902,
 3903,
 3904,
 3905,
 3906,
 3907,
 3908,
 3909,
 3910,
 3911,
 3912,
 3913,
 3914,
 3915,
 3916,
 3917,
 3918,
 3919,
 3920,
 3921,
 3922,
 3923,
 3924,
 3925,
 3926,
 3927,
 3928,
 3929,
 3930,
 3931,
 3932,
 3933,
 3934,
 3935,
 3936,
 3937,
 3938,
 3939,
 3940,
 3941,
 3942,
 3943,
 3944,
 3945,
 3946,
 3947,
 3948,
 3949,
 3950,
 3951,
 4455,
 4461,
 4482,
 4488,
 5159,
 5176,
 5199,
 5200,
 5201,
 5202,
 5203,
 5204,
 5205,
 5206,
 5207,
 5208,
 5209,
 5210,
 5211,
 5212,
 5213,
 5214,
 5215,
 5216,
 5217,
 5218,
 5219,
 5220,
 5221,
 5222,
 5223,
 5224,
 5225,
 5226,
 5227,
 5228,
 5229,
 5230,
 5231,
 5232,
 5233,
 5234,
 5235,
 5236,
 5237,
 5238,
 5239,
 5240,
 5241,
 5242,
 5243,
 5244,
 5245,
 5246,
 5247,
 5248,
 5249,
 5250,
 5251,
 5252,
 5253,
 5254,
 5255,
 5256,
 5257,
 5258,
 5259,
 5260,
 5261,
 5262,
 5263,
 5264,
 5265,
 5266,
 5267,
 5268,
 5269,
 5270,
 5271,
 5272,
 5273,
 5274,
 5276,
 5277,
 5278,
 5279,
 5280,
 5281,
 5282,
 5479,
 5482,
 5486,
 5487,
 5489,
 5490,
 5491,
 5492,
 5493,
 5494,
 5495,
 5496,
 5497,
 5498,
 5499,
 5500,
 5501,
 5502,
 5505,
 5506,
 5507,
 5508,
 5510,
 5511,
 5512,
 5513,
 5514,
 5515,
 5516,
 5517,
 5518,
 5519,
 5520,
 5521,
 5522,
 5523,
 5524,
 5525,
 5526,
 5527,
 5528,
 5529,
 5530,
 5531,
 5532,
 5533,
 5534,
 5535,
 5536,
 5537,
 5538,
 5539,
 5540,
 5541,
 5542,
 5543,
 5544,
 5545,
 5546,
 5547,
 5548,
 5549,
 5550,
 5551,
 5552,
 5553,
 5554,
 5555,
 5556,
 5557,
 5558,
 5559,
 5560,
 5561,
 5562,
 5563,
 5564,
 5565,
 5566,
 5567,
 5773,
 5865,
 5874,
 5893,
 5896,
 5900,
 5901,
 5902,
 5903,
 5904,
 5905,
 5906,
 5907,
 5908,
 5909,
 5910,
 5911,
 5912,
 5913,
 5914,
 5915,
 5919,
 5920,
 5921,
 5922,
 5924,
 5925,
 5926,
 5927,
 5928,
 5929,
 5930,
 5932,
 5933,
 5934,
 5935,
 5936,
 5937,
 5938,
 5939,
 5940,
 5941,
 5942,
 5943,
 5944,
 5945,
 5946,
 5947,
 5948,
 5949,
 5950,
 5951,
 5952,
 5953,
 5954,
 5955,
 5956,
 5957,
 5958,
 5959,
 5960,
 5961,
 5962,
 5963,
 5964,
 5965,
 5966,
 5967,
 5968,
 5969,
 5970,
 5971,
 5972,
 5973,
 5974,
 5978,
 5979,
 5980,
 5981,
 5982,
 5983,
 6235,
 6714,
 6737,
 6738,
 6739,
 6740,
 6741,
 6742,
 6743,
 6744,
 6745,
 6746,
 6747,
 6748,
 6749,
 6750,
 6751,
 6752,
 6753,
 6754,
 6755,
 6758,
 6759,
 6760,
 6761,
 6762,
 6763,
 6764,
 6765,
 6766,
 6767,
 6768,
 6769,
 6774,
 6775,
 6776,
 6777,
 6778,
 6779,
 6780,
 6781,
 6782,
 6783,
 6784,
 6785,
 6786,
 6787,
 6788,
 6789,
 6790,
 6791,
 6792,
 6793,
 6794,
 6795,
 6796,
 6797,
 6798,
 6799,
 6800,
 6801,
 6802,
 6803,
 6804,
 6805,
 6806,
 6807,
 6808,
 6810,
 6811,
 6812,
 6813,
 6814,
 6815,
 8092,
 8107,
 8115,
 8120,
 8121,
 8122,
 8123,
 8124,
 8125,
 8126,
 8127,
 8128,
 8129,
 8130,
 8131,
 8132,
 8133,
 8134,
 8135,
 8136,
 8137,
 8138,
 8139,
 8140,
 8141,
 8142,
 8143,
 8144,
 8145,
 8146,
 8147,
 8148,
 8149,
 8150,
 8153,
 8154,
 8155,
 8156,
 8157,
 8158,
 8159,
 8160,
 8161,
 8162,
 8163,
 8164,
 8165,
 8166,
 8167,
 8168,
 8176,
 8177,
 8178,
 8179,
 8180,
 8181,
 8182,
 8183,
 8184,
 8185,
 8186,
 8187,
 8188,
 8189,
 8190,
 8191,
 8192,
 8193,
 8194,
 8195,
 8196,
 8197,
 8198,
 8199,
 8200,
 8201,
 8202,
 8203,
 8586,
 8604,
 8627,
 8628,
 8629,
 8630,
 8631,
 8632,
 8633,
 8634,
 8635,
 8636,
 8637,
 8638,
 8639,
 8640,
 8641,
 8642,
 8643,
 8644,
 8645,
 8646,
 8647,
 ...]

In [8]:
dummy=dummy[~dummy['Index'].isin(delete_wellbore)].reset_index(drop=True)
dummy

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт,Index
0,1996-12-01,1003,57.19,39.07,18.09,225.6,0.0,Ю1,265
1,1997-01-01,1003,57.39,40.09,16.26,225.6,0.0,Ю1,266
2,1997-02-01,1003,58.02,44.95,7.10,225.6,0.0,Ю1,267
3,1997-03-01,1003,58.43,47.41,2.70,225.6,0.0,Ю1,268
4,1997-04-01,1003,52.51,42.24,3.56,225.6,0.0,Ю1,269
...,...,...,...,...,...,...,...,...,...
20612,2005-09-01,5247,1.99,0.23,85.91,216.0,176.1,Ю1,59439
20613,2005-10-01,5247,5.70,0.58,87.73,216.0,126.2,Ю1,59440
20614,2005-11-01,5247,7.76,1.00,84.55,216.0,100.6,Ю1,59441
20615,2005-12-01,5247,5.65,0.71,84.93,216.0,99.2,Ю1,59442
20616,2006-01-01,5247,5.81,0.80,83.50,216.0,99.2,Ю1,59443

In [9]:
dummy["Пластовое давление (ТР), атм"] = dummy["Пластовое давление (ТР), атм"].replace(0, np.nan).bfill()
dummy["Забойное давление (ТР), атм"] = dummy["Забойное давление (ТР), атм"].replace(0, np.nan).bfill()
dummy

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт,Index
0,1996-12-01,1003,57.19,39.07,18.09,225.6,120.0,Ю1,265
1,1997-01-01,1003,57.39,40.09,16.26,225.6,120.0,Ю1,266
2,1997-02-01,1003,58.02,44.95,7.10,225.6,120.0,Ю1,267
3,1997-03-01,1003,58.43,47.41,2.70,225.6,120.0,Ю1,268
4,1997-04-01,1003,52.51,42.24,3.56,225.6,120.0,Ю1,269
...,...,...,...,...,...,...,...,...,...
20612,2005-09-01,5247,1.99,0.23,85.91,216.0,176.1,Ю1,59439
20613,2005-10-01,5247,5.70,0.58,87.73,216.0,126.2,Ю1,59440
20614,2005-11-01,5247,7.76,1.00,84.55,216.0,100.6,Ю1,59441
20615,2005-12-01,5247,5.65,0.71,84.93,216.0,99.2,Ю1,59442
20616,2006-01-01,5247,5.81,0.80,83.50,216.0,99.2,Ю1,59443

In [10]:
dummy['депрессия'] = dummy.apply(
    lambda x: 
    x['Пластовое давление (ТР), атм']-x['Забойное давление (ТР), атм'], axis=1)
dummy

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт,Index,депрессия
0,1996-12-01,1003,57.19,39.07,18.09,225.6,120.0,Ю1,265,105.6
1,1997-01-01,1003,57.39,40.09,16.26,225.6,120.0,Ю1,266,105.6
2,1997-02-01,1003,58.02,44.95,7.10,225.6,120.0,Ю1,267,105.6
3,1997-03-01,1003,58.43,47.41,2.70,225.6,120.0,Ю1,268,105.6
4,1997-04-01,1003,52.51,42.24,3.56,225.6,120.0,Ю1,269,105.6
...,...,...,...,...,...,...,...,...,...,...
20612,2005-09-01,5247,1.99,0.23,85.91,216.0,176.1,Ю1,59439,39.9
20613,2005-10-01,5247,5.70,0.58,87.73,216.0,126.2,Ю1,59440,89.8
20614,2005-11-01,5247,7.76,1.00,84.55,216.0,100.6,Ю1,59441,115.4
20615,2005-12-01,5247,5.65,0.71,84.93,216.0,99.2,Ю1,59442,116.8
20616,2006-01-01,5247,5.81,0.80,83.50,216.0,99.2,Ю1,59443,116.8

In [11]:
dummy = dummy.drop(dummy[dummy['депрессия'] <= 0].index)
dummy

,Дата,Скважина №,"Дебит жидкости, м3/сут","Дебит нефти, т/сут","Обводненность, %","Пластовое давление (ТР), атм","Забойное давление (ТР), атм",Пласт,Index,депрессия
0,1996-12-01,1003,57.19,39.07,18.09,225.6,120.0,Ю1,265,105.6
1,1997-01-01,1003,57.39,40.09,16.26,225.6,120.0,Ю1,266,105.6
2,1997-02-01,1003,58.02,44.95,7.10,225.6,120.0,Ю1,267,105.6
3,1997-03-01,1003,58.43,47.41,2.70,225.6,120.0,Ю1,268,105.6
4,1997-04-01,1003,52.51,42.24,3.56,225.6,120.0,Ю1,269,105.6
...,...,...,...,...,...,...,...,...,...,...
20612,2005-09-01,5247,1.99,0.23,85.91,216.0,176.1,Ю1,59439,39.9
20613,2005-10-01,5247,5.70,0.58,87.73,216.0,126.2,Ю1,59440,89.8
20614,2005-11-01,5247,7.76,1.00,84.55,216.0,100.6,Ю1,59441,115.4
20615,2005-12-01,5247,5.65,0.71,84.93,216.0,99.2,Ю1,59442,116.8
20616,2006-01-01,5247,5.81,0.80,83.50,216.0,99.2,Ю1,59443,116.8